

body{
    background-color: rgb(214, 122, 127);;
}
header {
    text-align: center;
}


.container {
    width: 320px;    
    background-color: rgba(38, 66, 160, 0.021);
    
    display: block;
    margin: 0 auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

img {
    width: 70px; 
    background-color: rgba(38, 66, 160, 0.021);
    
    display: block;
    margin: 1rem auto;
    padding-bottom : 40px;

}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}
.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: black;
}




.weather-container{
    width: 320px;
    height: 500px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 150px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
    background-color: grey;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}



.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}



.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.wind-speed p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.sunrise p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}

.sunset p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}


.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 1.5em;
}
